</br>
</br>
<hr>
</br>
<footer class="footer">
<div class="container">
 <p>&copy; NWMSU Web Apps Team Fall 2016</p>
<p class="text-muted">Get the code at <a href="https://bitbucket.org/professorcase/jc9">bitbucket.org/professorcase/jc9</a></p>
</div>
</footer>




